body {
    background-color: #071820;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #0A222C;
    width: 100%;
    height: 70px;
}

header {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: bolder;
}

.logo {
    height: 60px;
    padding: 10px;
}

img {
    border-radius: 10px;
    height: 150px;
}

.nature {
    width: 225px;
}

.galerie {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.desk {
    width: 225px;
}

.city {
    width: 225px;
}

.galerie img {
    height: 100px;
    width: 140px;
    margin-top: 10px;
}


#myDialog {
    background-color: #0A222C;
    position: relative;
    padding: 24px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#myDialog[open] {
    opacity: 1;
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    background: transparent;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: white;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.arrow-left {
    
}

.arrow-right {
    
}

.arrow:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

.close-btn:hover {
    opacity: 0.7;
    color: white;
}

.close-btn:focus,
.close-btn:focus-visible {
    outline: none;
    box-shadow: none;
}

#myDialog::backdrop {
    background: rgba(0, 0, 0, 0);
}

#myDialog[open]::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.footer {
    background-color: #0A222C;
    width: 100%;
    height: 70px;
    margin-top: 30px;
}

@media(max-width:1280px) {
    .logo {
        height: 50px;
        padding-top: 10px;
    }
}

@media(max-width:450px) {
    .logo {
        height: 30px;
        padding-top: 20px;
    }

    .media-h1 {
        font-size: 24px;
    }
}